* {
    padding: 0;
    margin: 0;
}

html {
    font-size: 15px;
    font-family: Lato;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

p {
    margin-bottom: 60px;
    text-align: justify;
}

h3 {
    font-size: 20px;
    font-weight: bold;
    margin: 25px 0px;
    box-sizing: border-box;
}

a:link {
    margin-left: 20px;
    font-weight: bold;
    text-decoration: none;
    color: #464343;
}

a:visited {
    font-weight: bold;
    text-decoration: none;
    color: #d6c315;
}

a:hover,
a:focus,
a:active {
    text-decoration: underline;
    text-decoration-color: rgb(255, 60, 0);
}

.time,
.row,
footer {
    display: flex;
    justify-content: space-between;
    white-space: normal;
}


/* specific divs */


/* header */

.dropbtn {
    display: none;
}

header .wanderlude {
    padding-top: 30px;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 7%;
}

.header-logo {
    display: flex;
    align-items: center;
}

header h2 {
    font-family: Ubuntu;
    color: white;  
    font-size: 40px;
}

header .blog-grid {
    background-image: url(img/banner.jpg);
    height: 100%;
    display: flex;
    align-items: center;
    background-size: cover;
    margin: 5% 0 10%;

}


/* each row content: icon, margin for divs,...*/

.fas {
    font-size: 18px;
    padding-left: 10px;
    color: rgb(219, 219, 219);
}

#fas-time {
    margin-left: -10px;
}

.comments {
    font-family: Poppins;
}

.item {
    width: 33.3333%;
    padding: 0 15px;
}

.row {
    margin: 0 -15px;
}

.time {
    font-size: 13px;
    height: 11px;
    width: 90%;
    padding-top: 20px;
}


/* button setting */

.load {
    text-align: center;
}

.load-more {
    padding: 10px 15px;
    margin: 10px 0 40px 0;
    color: black;
    background-color: #ffb200;
    border: none;
}


/* footer */

footer {
    padding: 20px 7%;
    margin: 0;
    background-color: black;
}

.footer {
    font-size: 12px;
    color: rgb(129, 125, 120);
}

.footer {
    font-size: 13px;
}

#sub-content {
    font-size: 12px;
}

@media only screen and (max-width: 480px) and (min-width: 320px) {
    .header-container {
        width: 100%;
    }

    .header-logo img {
        width: 70%;
    }
    .dropbtn {
        display: contents;
        color: black;
        border: none;
    }
    .dropdown button {
        font-size: 11pt;
}
    
    /* The container <div> - needed to position the dropdown content */
    .dropdown {
       position: relative;
       display: inline-block;
    }

    /* Dropdown Content (Hidden by Default) */
    .dropdown-respond {
       right: 0;
       display: none;
       position: absolute;
       background-color: #f1f1f1;
       min-width: 160px;
       box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
       z-index: 1;
    }

    /* Links inside the dropdown */
    .dropdown-respond a {
       color: black;
       padding: 12px 16px;
       text-decoration: none;
       display: block;
    }

    /* Show the dropdown menu on hover */
    .dropdown:hover .dropdown-respond {
        display: block;
    }

    header .blog-grid {
        height: 60px;
        margin: 5% 0 10%;
        padding: 0 7%;
    }

    header h2 {
        font-size: 18px;
    }

    .container {
        width: 100%;
    }

    .row {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    .item {
        width: 100%;
        padding: 0;
    }

    .left {
        width: 90%;
        padding: 0 15px;
    }

    .left img {
        width: 100%;
    }

    .time {
        font-size: 11.5px;
        width: 90%;
        padding: 8px 15px 0 15px;
    }

    .right {
        width: 100%;
        padding: 0 15px;
        box-sizing: border-box;
    }

    .footer-container {
        width: 100%;
        display: block;
    }
    footer {
        display: block;
    }

    .footer {
        font-size: 9px;
    }

    #sub-content {
        font-size: 8px;
        margin:10px 0 0 -20px;   
 }

}

@media only screen and (max-width: 767px) and (min-width: 480px) {
    .header-logo img {
        width: 60%;
    }

    .dropdown-respond {
        font-size: 9px;
    }

    .blog-grid {
        padding: 25px 7%;

    }

    header h2 {
        font-size: 15px;
    }

    .container {
        width: 100%;
    }

    .row {
        flex-direction: column;
    }

    .item {
        width         : 100%;
        display       : flex;
        flex-direction: row;
        padding       : 25px 0;
    }

    .left img {
            width       : 90%;
            margin-right: 30px;
        }

    .right {
        width: 50%;
    }

    .time {
        width: max-content;
    }

    .load-more {
        padding         : 10px 15px;
        margin          : 10px 0 40px 0;
        color           : black;
        background-color: #ffb200;
        border          : none;
    }

}

//

@media only screen and (max-width: 1023px) and (min-width: 768px) {
    .header-container {
        width: 100%;
    }

    .header-logo img {
        width: 70%;
    }

    .dropdown {
        font-size: 12px;
    }

    header .blog-grid {
        height: 80px;
        margin: 40px 0 100px 0;
        padding: 0 7%;
}

    header h2 {
        font-size: 18px;
    }

    .container {
        width: 100%;
    }

    .row {
        width: 100%;
    }

    .item {
        width: 100%;
    }

    .left img {
        width: 100%;
        padding: 0 15px;
    }

    .time {
        font-size: 8px;
        width: 100%;
        padding: 8px 15px 0 15px;
    }

    .right {
        width: 100%;
        padding-left: 15px;
        box-sizing: border-box;
        font-size: 14px;
    }

    .right h3 {
        font-size: 16px;
    }

    .footer-container {
        width: 100%;
    }

    .footer {
        font-size: 9px;
    }

    #sub-content {
        font-size: 8px;
 }
}

@media only screen and (max-width: 2040px) and (min-width: 1024px) {
    .header-container {
        width: 100%;
    }

    .header-logo img {
        width: 100%;
    }

    header .blog-grid {
        height: 150px;
        margin: 40px 0 100px 0;
        padding: 0 7%;
}

    header h2 {
        font-size: 40px;
    }

    .row {
        width: 100%;
    }

    .item {
        width: 100%;
    }

    .left img {
        width: 100%;
        padding: 0 15px;
    }

    .time {
        width: 90%;
        padding: 8px 15px 0 15px;
    }

    .right {
        width: 100%;
        padding-left: 15px;
        box-sizing: border-box;
    }

    .footer-container {
        width: 100%;
    }
}
