* {
    padding:0; 
    margin: 0;
  }
  
  /* Style the tab */
  .tabs {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }
  
  /* Style the buttons inside the tab */
  .tabs button, a {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
  }
  
  /* Change background color of buttons on hover */
  .tabs button:hover, a:hover {
    background-color: #ddd;
  }
  
/* Create an active/current tablink class */
button.selected {
    background-color: #ccc;
  }

  /* Style the tab content */
  article {
    display: none;
  }
  article.selected {
	display: block;
  }
