<div class="container">
    <div class="blog-row" id="row-1">
        <div class="blog-row-item">
            <div class="blog-row-item-left"><img src="<?php echo $this->getViewFileUrl('HTCMage_Bloggrid/images/africa.jpg'); ?>" /></div>
            <div class="blog-row-item-right">
                <div class=time>
                    <div class="far">
                        <i class='far fa-calendar-check'></i>
                        <span class="m-d-y">July 4, 2019</span>
                    </div>
                    <div class="far">
                        <i class="far fa-user"></i>
                        <span class="type">By Admin</span>
                    </div>
                    <div class="far">
                        <i class="far fa-comment-alt"></i>
                        <span class="comments">2 comments</span>
                    </div>
                </div>
                <div class="blog-row-item-paragraph">
                    <h3>5 Eco-Friendly Safari Holidays in Africa</h3>
                    <p>In ex-erat, vulputate viverra possuere a, rhoncus id ante. Maecenas eu lectus nec ligula.</p>
                </div>
            </div>
        </div>
        <div class="blog-row-item">
            <div class="blog-row-item-left"><img src="<?php echo $block->getMediaURL() . 'wysiwyg/bloggrid/egypt.jpg'; ?>" /></div>
            <div class="blog-row-item-right">
                <div class=time>
                    <div class="far">
                        <i class='far fa-calendar-check'></i>
                        <span class="m-d-y">July 29, 2019</span>
                    </div>
                    <div class="far">
                        <i class="far fa-user"></i>
                        <span class="type">By Admin</span>
                    </div>
                    <div class="far">
                        <i class="far fa-comment-alt"></i>
                        <span class="comments">1 comment</span>
                    </div>
                </div>
                <div class="blog-row-item-paragraph">
                    <h3>3 Summer Days In The Egypt</h3>
                    <p>Nam quis semper augue. Phasellus condimentuum portti-tor sapien, sit amet varius elit dapibus quis...</p>
                </div>
            </div>
        </div>
        <div class="blog-row-item">
            <div class="blog-row-item-left"><img src="<?php echo $block->getMediaURL() . 'wysiwyg/bloggrid/walking.jpg'; ?>" /></div>
            <div class="blog-row-item-right">
                <div class=time>
                    <div class="far">
                        <i class='far fa-calendar-check'></i>
                        <span class="m-d-y">July 30, 2019</span>
                    </div>
                    <div class="far">
                        <i class="far fa-user"></i>
                        <span class="type">By Admin</span>
                    </div>
                    <div class="far">
                        <i class="far fa-comment-alt"></i>
                        <span class="comments">8 comments</span>
                    </div>
                </div>
                <div class="blog-row-item-paragraph">
                    <h3>Walking The Alta Via Dei Monti Liguri</h3>
                    <p>Donec eu nulla volutpat neque fermentum rutrum non nec nisi. In in lobortis arcu, quis facilisis ante...</p>
                </div>
            </div>
        </div>
    </div>
    <div class="blog-row" id="row-2">
        <div class="blog-row-item">
            <div class="blog-row-item-left"><img src="<?php echo $block->getMediaURL() . 'wysiwyg/bloggrid/cyprus.jpg'; ?>" /></div>
            <div class="blog-row-item-right">
                <div class=time>
                    <div class="far">
                        <i class='far fa-calendar-check'></i>
                        <span class="m-d-y">July 23, 2019</span>
                    </div>
                    <div class="far">
                        <i class="far fa-user"></i>
                        <span class="type">By Admin</span>
                    </div>
                    <div class="far">
                        <i class="far fa-comment-alt"></i>
                        <span class="comments">7 comments</span>
                    </div>
                </div>
                <div class="blog-row-item-paragraph">
                    <h3>What Is There To See And Do In Cyprus?</h3>
                    <p>Vulputate viverra posuere a, rhnoncus id ante. Maecenas eu lectus nec ligula malesuada...</p>
                </div>
            </div>
        </div>
        <div class="blog-row-item">
            <div class="blog-row-item-left"><img src="<?php echo $block->getMediaURL() . 'wysiwyg/bloggrid/surfing.jpg'; ?>" /></div>
            <div class="blog-row-item-right">
                <div class=time>
                    <div class="far">
                        <i class='far fa-calendar-check'></i>
                        <span class="m-d-y">July 25, 2019</span>
                    </div>
                    <div class="far">
                        <i class="far fa-user"></i>
                        <span class="type">By Admin</span>
                    </div>
                    <div class="far">
                        <i class="far fa-comment-alt"></i>
                        <span class="comments">5 comments</span>
                    </div>
                </div>
                <div class="blog-row-item-paragraph">
                    <h3>Exploring Medullin, Colombia By Bicycle</h3>
                    <p>Suspendisse potenti. Maecenas ullamcorper mauris massa, vitae fringilla diam sodales vitae...</p>
                </div>
            </div>
        </div>
        <div class="blog-row-item">
            <div class="blog-row-item-left"><img src="<?php echo $block->getMediaURL() . 'wysiwyg/bloggrid/colombia.jpg'; ?>" /></div>
            <div class="blog-row-item-right">
                <div class=time>
                    <div class="far">
                        <i class='far fa-calendar-check'></i>
                        <span class="m-d-y">Sugust 4, 2019</span>
                    </div>
                    <div class="far">
                        <i class="far fa-user"></i>
                        <span class="type">By Admin</span>
                    </div>
                    <div class="far">
                        <i class="far fa-comment-alt"></i>
                        <span class="comments">6 comments</span>
                    </div>
                </div>
                <div class="blog-row-item-paragraph">
                    <h3>Surfing, Cycling And Wine Tasting</h3>
                    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada...</p>
                </div>
            </div>
        </div>
    </div>

    <div class="blog-row" id="row-3">
        <div class="blog-row-item">
            <div class="blog-row-item-left"><img src="<?php echo $block->getMediaURL() . 'wysiwyg/bloggrid/cambodia.jpg'; ?>" /></div>
            <div class="blog-row-item-right">
                <div class=time>
                    <div class="far">
                        <i class='far fa-calendar-check'></i>
                        <span class="m-d-y">July 12, 2019</span>
                    </div>
                    <div class="far">
                        <i class="far fa-user"></i>
                        <span class="type">By Admin</span>
                    </div>
                    <div class="far">
                        <i class="far fa-comment-alt"></i>
                        <span class="comments">4 comments</span>
                    </div>
                </div>
                <div class="blog-row-item-paragraph">
                    <h3>Top 10 Things To Do in Cambodia</h3>
                    <p>Etiam venenatis ex nunc, nec sagittis ipsum tincidunt nec.Nam at ligula neque...</p>
                </div>
            </div>
        </div>
        <div class="blog-row-item">
            <div class="blog-row-item-left"><img src="<?php echo $block->getMediaURL() . 'wysiwyg/bloggrid/wales.jpg'; ?>" /></div>
            <div class="blog-row-item-right">
                <div class=time>
                    <div class="far">
                        <i class='far fa-calendar-check'></i>
                        <span class="m-d-y">July 16, 2019</span>
                    </div>
                    <div class="far">
                        <i class="far fa-user"></i>
                        <span class="type">By Admin</span>
                    </div>
                    <div class="far">
                        <i class="far fa-comment-alt"></i>
                        <span class="comments">3 comments</span>
                    </div>
                </div>
                <div class="blog-row-item-paragraph">
                    <h3>Festival Review: Love Trails, South Wales</h3>
                    <p>Nunc urna leo, laculis sed enim id, vehicula condimentum ante. Integer condimentum...</p>
                </div>
            </div>
        </div>
        <div class="blog-row-item">
            <div class="blog-row-item-left"><img src="<?php echo $block->getMediaURL() . 'wysiwyg/bloggrid/nepal.jpg'; ?>" /></div>
            <div class="blog-row-item-right">
                <div class=time>
                    <div class="far">
                        <i class='far fa-calendar-check'></i>
                        <span class="m-d-y">July 21, 2019</span>
                    </div>
                    <div class="far">
                        <i class="far fa-user"></i>
                        <span class="type">By Admin</span>
                    </div>
                    <div class="far">
                        <i class="far fa-comment-alt"></i>
                        <span class="comments">10 comments</span>
                    </div>
                </div>
                <div class="blog-row-item-paragraph">
                    <h3>Travel Guide To Magical Nepal</h3>
                    <p>Augue sit amet lacinia bibendum, metus sapien biben-dum lacus, sed euismod ligula tortor ac sapien...</p>
                </div>
            </div>
        </div>
    </div>
    <div class="blog-row" id="row-4">
        <div class="blog-row-item">
            <div class="blog-row-item-left"><img src="<?php echo $block->getMediaURL() . 'wysiwyg/bloggrid/kandersteg.jpg'; ?>" /></div>
            <div class="blog-row-item-right">
                <div class=time>
                    <div class="far">
                        <i class='far fa-calendar-check'></i>
                        <span class="m-d-y">July 5, 2019</span>
                    </div>
                    <div class="far">
                        <i class="far fa-user"></i>
                        <span class="type">By Admin</span>
                    </div>
                    <div class="far">
                        <i class="far fa-comment-alt"></i>
                        <span class="comments">3 comments</span>
                    </div>
                </div>
                <div class="blog-row-item-paragraph">
                    <h3>Classic Swiss Alps Hiking In Kandersteg</h3>
                    <p>Maecenas dapibus tristique eros eget convallis. Sus-pendise varius nulla netus...</p>
                </div>
            </div>
        </div>
        <div class="blog-row-item">
            <div class="blog-row-item-left"><img src="<?php echo $block->getMediaURL() . 'wysiwyg/bloggrid/thailand.jpg'; ?>" /></div>
            <div class="blog-row-item-right">
                <div class=time>
                    <div class="far">
                        <i class='far fa-calendar-check'></i>
                        <span class="m-d-y">August 1, 2019</span>
                    </div>
                    <div class="far">
                        <i class="far fa-user"></i>
                        <span class="type">By Admin</span>
                    </div>
                    <div class="far">
                        <i class="far fa-comment-alt"></i>
                        <span class="comments">8 comments</span>
                    </div>
                </div>
                <div class="blog-row-item-paragraph">
                    <h3>How To Spend 48 Hours In Thailand</h3>
                    <p>Nam euismod justo at velit ultricies iaculis. Suspendisse eleifend, mi ac accumsan dapibus...</p>
                </div>
            </div>
        </div>
        <div class="blog-row-item">
            <div class="blog-row-item-left"><img src="<?php echo $block->getMediaURL() . 'wysiwyg/bloggrid/london.jpg'; ?>" /></div>
            <div class="blog-row-item-right">
                <div class=time>
                    <div class="far">
                        <i class='far fa-calendar-check'></i>
                        <span class="m-d-y">30 July, 2019</span>
                    </div>
                    <div class="far">
                        <i class="far fa-user"></i>
                        <span class="type">By Admin</span>
                    </div>
                    <div class="far">
                        <i class="far fa-comment-alt"></i>
                        <span class="comments">5 comments</span>
                    </div>
                </div>
                <div class="blog-row-item-paragraph">
                    <h3>7 Fantastic Pop-Up Beaches In London</h3>
                    <p>Quarm erat sodales sapien, at elementumnunc mauis quis eros...</p>
                </div>
            </div>
        </div>
    </div>

    <div class="load"><button class="load-more">LOAD MORE</button></div>

</div>