@variable: rgb(219, 219, 219);

& when (@media-common =true) {
    * {
        padding: 0;
        margin : 0;
    }

    .container {
        width      : 1170px;
        margin     : 0 auto;
        font-size  : 15px;
        font-family: Lato;
    }

    .navigation {
        font-size  : 15px;
        font-family: Lato;
    }

    p {
        margin-bottom: 47px;
    }

    h3 {
        font-size  : 20px;
        font-weight: bold;
        margin     : 24px 0px 15px 0;
    }

    .blog-row {
        display       : flex;
        flex-direction: row;
    }

    .blog-row-item {
        width  : 33.3333%;
        padding: 0 15px;
    }

    .far.fa-calendar-check {
        font-size   : 13px;
        color       : @variable;
        margin-right: 5px;
    }

    .far.fa-user {
        font-size   : 13px;
        color       : @variable;
        margin-right: 5px;
    }

    span.m-d-y {
        margin-right: 21px;
    }

    .far.fa-comment-alt {
        font-size   : 13px;
        color       : @variable;
        margin-right: 5px;
    }

    span.type {
        margin-right: 19px;
    }


    .comments {
        font-family: Poppins;
    }

    .time {
        font-size : 13px;
        // height: 11px;
        // width: 90%;
        margin-top: 20px;
    }


    /* button setting */

    .load {
        text-align: center;
    }

    .load-more {
        padding         : 10px 15px;
        margin          : 10px 0 40px 0;
        color           : black;
        background-color: #ffb200;
        border          : none;
        font-size       : 15px;
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum ='max') and (@break =@screen__xs) {
    .navigation {
        background-color: white;
    }

    .blog-row {
        flex-direction: column;
    }

    .blog-row-item {
        display       : flex;
        flex-direction: column;
        padding       : 0;
    }

    .blog-row-item-left {
        img {
            width : 100%;
            margin: 0;
        }
    }

    .time {
        display: flex;
    }

    .far {
        margin : 0;
        display: flex;
    }

    .far.fa-calendar-check,
    .far.fa-user,
    .far.fa-comment-alt {
        font-size: 11px;
        color    : rgb(219, 219, 219);
    }

    .blog-row-item-right {
        width: 100%;
    }

    // .blog-row-item-paragraph {
    //     width     : 100%;
    //     box-sizing: border-box;
    // }

    .load-more {
        padding         : 10px 15px;
        margin          : 10px 0 40px 0;
        color           : black;
        background-color: #ffb200;
        border          : none;
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum ='max') and (@break =@screen__m) {
    .navigation {
        background-color: white;
        margin-top      : 80px;
    }

    .container {
        width: 100%;
    }

    .blog-row {
        flex-direction: column;
    }

    .blog-row-item {
        width         : 100%;
        display       : flex;
        flex-direction: row;
        padding       : 25px 0;
    }

    .blog-row-item-left {
        img {
            width       : 90%;
            margin-right: 30px;
        }
    }

    .blog-row-item-right {
        width: 50%;
    }

    .time {
        width: max-content;
    }

    .load-more {
        padding         : 10px 15px;
        margin          : 10px 0 40px 0;
        color           : black;
        background-color: #ffb200;
        border          : none;
    }

}

//
//  @screen__m
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum ='min') and (@break =@screen__m) {
    .logo {
            margin: 0 0 0 15px;
    }

    .navigation {
        margin-top      : 0;
        background-color: white;
        float           : right;
        width           : auto;
    }

    .container {
        width: 100%;
    }

    .time {
        display       : flex;
        flex-direction: column;
    }

    .blog-row-item-right {
        .far {
            margin-bottom: 5px;
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum ='min') and (@break =@screen__l) {
    .blog-row-item-right {
        .far {
            display    : inline;
            align-items: baseline;
        }
    }

    .time {
        display       : flex;
        flex-direction: row;
    }

    .blog-row-item-paragraph {
        width     : 100%;
        box-sizing: border-box;
    }
}