    /* specific base divs */
    * {
        margin: 0px;
        padding: 0px;
    }
    body {
        font-size: 14px;
        font-family: Poppins;
    }
    
    .container {
        width: 1170px;
        margin: 0 auto;
        color: #8f8f8f;
    }
    
    p {
        padding: 30px 0 20px 0;
    }
    
    header .header1,
    .film,
    .contaner,
    .row,
    .description,
    .under-footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        white-space: normal;
    }
    
    header .header1 {
        padding-top: 30px;
        font-size: 16px;
        align-items: center;
        margin: 0 20px;
    }
    

/*header*/

    .header-logo {
        display: flex;
        align-items: center;
    }
    
    header .header2 {
        background-image: url("header2.jpg");
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        height: 100%;
        margin-top: 40px;
        padding: 80px 0;
    }
    
    h1 {
        font-size: 54px;
        font-family: "Playfair Display";
        font-weight: bold;
        color: black;
        padding-bottom:15px;
    }
    
    h2 {
        font-size: 14px;
    }

    header a {
        margin-left: 20px;
    }
    .header-search {
        margin-right: 20px;
    }

/*search button*/

    .fas fa-bars,
    .fa fa-search {
        font-size: 18px;
    }
    
    .search-button {
        padding: 7px;
        background-color: #9e8157;
    }
    
    #s {
        color: white;
    }
    
/*menu dropdown*/
    .dropdown-respond {
        display: none;
    }

    .dropbtn {
        color: black;
        border: none;
    }

/* The container <div> - needed to position the dropdown content */
    .dropdown {
       position: relative;
       display: inline-block;
    }

    /* Dropdown Content (Hidden by Default) */
    .dropdown-content {
       right: 0;
       display: none;
       position: absolute;
       background-color: #f1f1f1;
       min-width: 160px;
       box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
       z-index: 1;
    }

    /* Links inside the dropdown */
    .dropdown-content a {
       color: black;
       padding: 12px 16px;
       text-decoration: none;
       display: block;
    }

    /* Show the dropdown menu on hover */
    .dropdown:hover .dropdown-content {
        display: block;
    }


/* main content */

    .container h3 {
        font-family: "Playfair Display";
        color: black;
        font-size: 18px;
        font-weight: bold;
        letter-spacing: 1px;
    }
    .main-content {
        display: flex;
        flex-direction: row;
        margin-top: 50px;
    }

    button {
        border: none;
        background-color: white;
    }
    
    .left-side {
        width: 80%;
    }
    
    .left {
        padding: 40px 15px;
    }
    
    .right {
        padding: 40px 50px 40px 15px;
    }
    
    .cate {
        display: block;
    }
    
    .film .right .news {
        color: rgb(201, 67, 67);
    }
    /* foot */
    
    .foot {
        width: 150px;
        word-wrap: break-word;
    }
    
    .foot2 {
        width: 220px;
        word-wrap: break-word;
    }
    
    #subcribe {
        background-color: #9e8157;
        padding: 8px;
    }
    /* sidebar */
    
    .sidebar {
        width: 20%;
        font-family: "Playfair Display";
        padding: 15px;
    }

    .sidebar input {
        padding: 5px;
    }
    
    .sidebar h3{
        padding-bottom: 30px;
    }
    
    .sidebar .design {
        margin-top: 50px;
        padding-bottom: 40px;
    }
    
    #design-tags a {
        display: inline;
    }
    
    .sidebar ul {
        margin: 0;
        padding: 0;
    }
    
    .sidebar li {
        display: block;
        padding-top: 5px;
        margin-bottom: 5px;
    }
    
    .sidebar li a:link {
        color: #988F5E;
    }
    
    .sidebar li a:visited {
        color: #B3AE94;
    }
    /* footer */
    
    .footer h3 {
        padding-bottom: 30px;
    }

    .footer a {
        display: block;
    }
    
    .description {
        background-color: #332e2e;
        color: #8f8f8f;
        padding: 5% 7%;
    }

    .description img {
        width: 80px;
    }
    
    .mail {
        padding: 5px;
        background-color: #332e2e;
        border-color: rgb(197, 184, 184);
    }
    
    .under-footer {
        padding: 2% 7%;
        background-color: rgb(19, 18, 18);
        color: rgb(209, 175, 175);
    }
    
    #name {
        color: rgb(150, 104, 20)
    }

    .text-right a {
        margin-left: 20px;
        font-size: 12px;
        color: rgb(179, 169, 156);
    }

     /*page break*/
    .bottom-nav .bottom-menu {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 30px 0;
    }
    
    .bottom-nav .bottom-menu li {
        margin-right: 5px;
        border: 1px solid #666666;
        width: 45px;
        height: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .bottom-menu li a {
        padding: 12px 20px;
    }
    
    .bottom-menu .bottom-menu-item .current {
        background-color: #9e8157;
        color: #ffffff;
    }
    
    .bottom-menu li a:hover {
        background-color: #9e8157;
        padding: 10px 20px;
        color: #ffffff;
    }

    /*link*/
    a:link {
        font-weight: bold;
        text-decoration: none;
        color: #8f8f8f;
    }
    
    a:visited {
        font-weight: bold;
        text-decoration: none;
        color: #8f8f8f;
    }
    
    a:hover,
    a:focus,
    a:active {
        text-decoration: none;
        color: #262e27;
    }
    
    @media only screen and (max-width: 739px) and (min-width: 240px) {
        header .header1 {
            margin: 0 10px;
        }
        .header-nav {
            display: none;
        }
        .header-search {
           display: none;
        }

        .dropdown-content {
            display: none;
        }

        .dropdown button {
            font-size: 15pt;
        }
        header .header2 {
            display: flex;
            height: 100px;
            margin: 40px 0 20px 0;
        }
        .header2 img {
            width: 100%;
        }
        .header2 .banner-content {
            margin: 0 auto;
        }
        h1 {
            font-size: 20px;
            text-align: center;
        }
        h2 {
            font-size: 13px;  
        }

        .container {
            width: 100%;
        }
        .left-side {
            width: 100%;
            padding: 0;

        }
        .film {
            display: flex;
            flex-direction: column;
        }
        .left {
            width: 100%;
            padding: 0;
        }
        .left img {
            width: 100%;
        }
        .right {
            width: 100%;
            box-sizing: border-box;
            padding: 40px 15px;
            margin: 0;
        }

        .sidebar {
            width: 90%;
        }

        .design {
            width: 100%;
        }

       .main-content {
            display: flex;
            flex-direction: column;
       }

        .description {
            flex-direction: column;
        }

        footer h3 {
            padding-top: 40px;
        }

        .foot {
        width: 100%;
    }
    
        .foot2 {
            width: 100%;
        }

        .under-footer {
            display: flex;
            flex-direction: column;
        }
        .text-left {
            width: 100%;
            font-size: 9px;
            padding-bottom: 5px;
            text-align: center;
        }

        .text-right {
            font-size: 2px;
            text-align: center;
        }
}

        @media only screen and (max-width: 1023px) and (min-width: 740px) {
            .header-container {
                width: 100%;
            }

            header .header1 {
                width: 100%;
                margin: 0;
                font-size: 13.5px;
            }

            .header-logo img {
                width: 80%;
            }

            header a {
                margin-left: 10px;
            }

            .header2 {
                width: 100%;
            }

            .container {
                width: 100%;
            }

            .left {
                width: 100%;
            }
            
            .left img {
                width: 100%;
            }

            .right {
                padding: 0 15px;
            }

            .sidebar input {
                width: 60%;
            }

            .footer-container {
                width: 100%;
            }
        }

        @media only screen and (max-width: 2040px) and (min-width: 1024px) {
            .container {
                width: 100%;
            }

            .sidebar {
                margin-top: 5px;
            }

            .sidebar {
                width: 25%;
            }
}
