.nav {
    border: 1px solid black;
    padding: 25px;
    display: inline-block;
    margin: 20px;
    font-size: 0;
    background-color: white;
}

.start {
    border: 1px solid black;
    font-size: 12px;
    display: inline-block;
}

.disable {
    pointer-events: none;
}

